@model IEnumerable<Library_Management_System_C.Models.Books>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCrud.cshtml";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="Category_Book" asp-action="Index">Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryId)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.book_category.categoryName)
            </td>
              
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.bookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
