@model IEnumerable<Library_Management_System_C.Models.User>

@{
    ViewData["Title"] = "Index";

    Layout = "_LayoutCrud.cshtml";
}

<h1>Registered Accounts</h1>

<p>
    <button class="btn btn-primary px-2 py-0"> <a class="text-white" style="text-decoration:none;"<a asp-action="Create" style="text-decoration:none" class=" text-white">Create New</a></button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirm_Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirm_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                     <button class="btn btn-primary px-2 py-0"> <a class="text-white" style="text-decoration:none" asp-action="Edit" asp-route-id="@item.id">Edit</a></button> |
                    <button class="btn btn-info     px-2 py-0"> <a class="text-white" style="text-decoration:none" asp-action="Details" asp-route-id="@item.id">Details</a></button> |
                    <button class="btn btn-danger px-2 py-0"> <a class="text-white" style="text-decoration:none" asp-action="Delete" asp-route-id="@item.id">Delete</a></button>

              @*    <a asp-action="Edit" asp-route-id="@item.id">Edit |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>  *@
            </td>
        </tr>
}
    </tbody>
</table>
