@model IEnumerable<Library_Management_System_C.Models.Category_Book>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCrud.cshtml";
}

<h1>Category</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="Books" asp-action="Index">Books</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.categoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.categoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.categoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
